# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Mathematics, Market Research & Data Science
email: fake.ikanx@gmail.com
description: "mathematics data science algorithm maths statistics scientist artificial intelligence machine learning"

twitter_username: ikanx101
github_username: ikanx101
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

words_per_minute: 80

# Outputting
permalink: /:categories/:title/
paginate: 7 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  

author:
  name   : "Bunch of Mathematician's Ideas"
  avatar : "/assets/images/MUKE.png"
  bio    : "I am TUV Rheinland-Certified Data Scientist, market researcher, and mathematician"
  location : "Kota Bekasi"
  links:
    - label: "Home"
      icon: "fas fa-fw fa-home"
      url: "https://ikanx101.com/"
    - label: "Blog Lama Saya"
      icon: "fas fa-fw fa-link"
      url: "https://passingthroughresearcher.wordpress.com/"
    - label: "Telegram"
      icon: "fab fa-telegram-plane"
      url: "https://t.me/Ikanx"
    
    
footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/ikanx101"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/ikanx101"
    - label: "Telegram"
      icon: "fab fa-telegram-plane"
      url: "https://t.me/Ikanx"    
    
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /tags/
tag_archive:
  type: liquid
  path: /tags/

analytics:
  provider: "google-universal"
  google:
    tracking_id: "UA-78560217-2"
    anonymize_ip: # true, false (default)
